body {background-color: #ffcdb2;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 200%;}
h1, h2 {
    color: #6d6875;
}
input[type=text] {
    width: 400px; font-size: 160%;
color: #534b5f;}
button{
    font-size: 55%;
    background-color: #b5838d;
    border-radius: 10%;
}

li {
    width: auto;
}
.deleteBtn{
    color: #6d6875;
}
span {
    padding-inline-end: 5%;
}